.wrapper {
    /* min-height: 100%; */
    background-image: URL("../images/background2");
    position: center;
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:auto;
    padding-bottom:600px;
}
