html,
body,
/* header, */
.view {
  min-height: 100%;
color: aliceblue
}
#nav-container {
  background: black;
  margin-bottom:20px;
  margin-top:0;
font: white;
}
#nav-container a {
 margin: 5px;
  color: blueviolet;  
  font: blue;;
  background-color: aquamarine
}
.navigation{
  height: 100%;
}
.figure{
  position: relative;
  margin-left: 30%;
}
.SignupForm,#login{
  position: center;
}
.musclegroups {
  position: relative;
  }
  .exersizes{
  height: auto;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  box-flex: 30px;
  border: 5px;
  margin-bottom:20px;
  text-align: center;
  }
  .card{
      margin-bottom: 20px;
  }
  h1{
      margin-bottom: 30px;
  }
  .gifs{
  height:200px;
  margin-left: 11px;
  margin-top: 11px;
  margin-bottom: 11px;
  }
