html,
body,
/* header, */
.view {
  min-height: 100%;
color: aliceblue
}
#nav-container {
  background: black;
  margin-bottom:20px;
  margin-top:0;
font: white;
}
#nav-container a {
 margin: 5px;
  color: blueviolet;  
  font: blue;;
  background-color: aquamarine
}
.navigation{
  height: 100%;
}
.figure{
  position: relative;
  margin-left: 30%;
}
.SignupForm,#login{
  position: center;
}
