.card {
font: black;
  text-align: left;
  height: justify;
  background:black;
  }
  
  .card > .img-container {
    height: inherit;
    overflow: hidden;
    
  }
  .card > .img-container > img {
    width: 100%;
    height: inherit;
  }
  .img{
    height: 200px;
    width:200px;
  }